@model LigaWspinaczkowa.Models.UserStage

@{
    ViewData["Title"] = "Usuń";
}

<h4>Usuwanie</h4>

<h5>Czy na pewno usunąć przejście: </h5>
<h3 style="font-weight: bold;">@Model.UserStageUser.Email</h3>
<div>
    @* <h4>UserStage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stage.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRoute1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRoute1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route1Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route1Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAcceptedRoute1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAcceptedRoute1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRoute2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRoute2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route2Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route2Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAcceptedRoute2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAcceptedRoute2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRoute3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRoute3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteLead3Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteLead3Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAcceptedRoute3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAcceptedRoute3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserStageUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserStageUser.Id)
        </dd>
    </dl> *@
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="IndexAdmin">Powrót</a>
    </form>
</div>
