@model Liga.Models.UserStage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserStage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stage.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route1Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route1Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route2Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route2Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteLead3Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteLead3Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserStageUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserStageUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
