@model IEnumerable<LigaWspinaczkowa.Models.UserStage>

@{
    ViewData["Title"] = "Index Admin";
}

<h1>Index Admin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="indexAdmin">
    <thead>
        <tr>
            <th>
                Rozd
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.DateRoute1)
            </th> *@
            <th>
                W1
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.DateRoute2)
            </th> *@
            <th>
                W2
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.DateRoute3)
            </th> *@
            <th>
                P
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.UserStageUser)
            </th>
            <th>
                S
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Stage.Id) *@
                    @item.Stage.DataFrom.ToString("MM/dd") <br> @item.Stage.DataTo.ToString("MM/dd")
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.DateRoute1)
            </td> *@
                @if(item.IsAcceptedRoute1 == true)
                {
                    <td class="isAccepted">
                        @Html.DisplayFor(modelItem => item.Route1Points)
                    </td>
                } else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Route1Points)
                    </td>
                }
                @**@
                @* <td>
            @Html.DisplayFor(modelItem => item.DateRoute2)
            </td> *@
                @if (item.IsAcceptedRoute2 == true)
                {
                    <td class="isAccepted">
                        @Html.DisplayFor(modelItem => item.Route2Points)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Route2Points)
                    </td>
                }
                @* <td>
            @Html.DisplayFor(modelItem => item.DateRoute3)
            </td> *@
                @if (item.IsAcceptedRoute3 == true)
                {
                    <td class="isAccepted">
                        @Html.DisplayFor(modelItem => item.RouteLead3Points)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteLead3Points)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.UserStageUser.Email)
                </td>
                <td>
                    @{
                        float suma = item.Route1Points.GetValueOrDefault() 
                        + item.Route2Points.GetValueOrDefault() 
                        + item.RouteLead3Points.GetValueOrDefault();
                    }
                    @suma
                </td>
                <td>
                    <a asp-action="AcceptUserStage" asp-route-id="@item.Id" class="btn btn-success">Zatwierdz</a>
                    <a asp-action="EditAdmin" asp-route-id="@item.Id" class="btn btn-secondary">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
