@model IEnumerable<LigaWspinaczkowa.Models.UserStage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.DateRoute1)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Route1Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcceptedRoute1)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.DateRoute2)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Route2Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcceptedRoute2)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.DateRoute3)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.RouteLead3Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcceptedRoute3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStageUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stage.Id)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.DateRoute1)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Route1Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAcceptedRoute1)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.DateRoute2)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Route2Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAcceptedRoute2)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.DateRoute3)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.RouteLead3Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAcceptedRoute3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserStageUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
