@using Microsoft.AspNetCore.Identity;
@model IEnumerable<LigaWspinaczkowa.Models.UserStage>
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> _userManager
@{
    string userId = _userManager.GetUserId(User);
    var us = Model.Where(u => u.UserStageUserId == userId).LastOrDefault();    
    DateTime currentDate = DateTime.Now;
}
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (ViewBag.IsActiveStage == true)
    {
        if (us != null && us.Stage.DataFrom <= currentDate && us.Stage.DataTo >= currentDate)
        {
            <a asp-action="EditUser" asp-route-id="@us.Id" class="btn btn-outline-primary">Dodaj E</a>     
        } else {
            <a asp-action="CreateUser" class="btn btn-primary">Dodaj</a>
        }
    }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.DateRoute1)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Route1Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcceptedRoute1)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.DateRoute2)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Route2Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcceptedRoute2)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.DateRoute3)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.RouteLead3Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAcceptedRoute3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStageUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderByDescending(m => m.Id)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stage.Id)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.DateRoute1)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Route1Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAcceptedRoute1)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.DateRoute2)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Route2Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAcceptedRoute2)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.DateRoute3)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.RouteLead3Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAcceptedRoute3)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStageUser.Email)
                </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
