@model IEnumerable<LigaWspinaczkowa.Models.UserStage>

@{
    ViewData["Title"] = "Ranking";
}

<h1>Ranking z podziałem na stage</h1>

<p>
    <a href="Ranking" class="btn btn-outline-primary">Przejdz do rankingu globalnego</a>
</p>

<table class="table" id="indexAdmin">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStageUser)
            </th>
            <th>
                S
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            List<RankingGlobal> lista = new List<RankingGlobal>();
        }
        @foreach (var item in Model)
        {
            var czyJestWLiscie = lista.Where(l => l.email == item.UserStageUser.Email).FirstOrDefault();
            if (czyJestWLiscie != null) {
                czyJestWLiscie.punkty += item.Route1Points.GetValueOrDefault()
                + item.Route2Points.GetValueOrDefault()
                + item.RouteLead3Points.GetValueOrDefault();
            } else {
                lista.Add(new RankingGlobal
                {
                    email = item.UserStageUser.Email,
                    punkty = item.Route1Points.GetValueOrDefault()
                    + item.Route2Points.GetValueOrDefault()
                    + item.RouteLead3Points.GetValueOrDefault()
                });
            }
            <tr class="@item.StageId">
                <td>
                    @item.Stage.DataFrom.ToString("MM/dd") <br /> @item.Stage.DataTo.ToString("MM/dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStageUser.Email)
                </td>
                <td>
                    @{
                        float suma = item.Route1Points.GetValueOrDefault()
                        + item.Route2Points.GetValueOrDefault()
                        + item.RouteLead3Points.GetValueOrDefault();
                    }
                    @suma
                </td>
            </tr>
        }
    </tbody>
</table>