@model IEnumerable<LigaWspinaczkowa.Models.UserStage>

@{
    ViewData["Title"] = "Ranking";
}

<h1>Ranking z podziałem na rozdania</h1>

<p>
    <a href="Ranking" class="btn btn-outline-primary">Przejdz do rankingu globalnego</a>
</p>

<table class="table" id="indexAdmin">
    <thead>
        <tr>
            <th>
                Przejście
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStageUser)
            </th>
            <th>
                Punkty
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            List<RankingGlobal> lista = new List<RankingGlobal>();
            int i = 0, j = -1;
        }
        @foreach (var item in Model)
        {
            if (j == -1)
            {
                j = item.StageId;
            }
            var czyJestWLiscie = lista.Where(l => l.email == item.UserStageUser.Email).FirstOrDefault();
            if (czyJestWLiscie != null) {
                float val1 = item.IsAcceptedRoute1 ? item.Route1Points.GetValueOrDefault() : 0;
                float val2 = item.IsAcceptedRoute2 ? item.Route2Points.GetValueOrDefault() : 0;
                float val3 = item.IsAcceptedRoute3 ? item.RouteLead3Points.GetValueOrDefault() : 0;

                czyJestWLiscie.punkty += val1 + val2 + val3;
            } else {
                float val1 = item.IsAcceptedRoute1 ? item.Route1Points.GetValueOrDefault() : 0;
                float val2 = item.IsAcceptedRoute2 ? item.Route2Points.GetValueOrDefault() : 0;
                float val3 = item.IsAcceptedRoute3 ? item.RouteLead3Points.GetValueOrDefault() : 0;

                lista.Add(new RankingGlobal
                {
                    email = item.UserStageUser.Email,
                        punkty = val1 + val2 + val3
                });
            }
            if (j != item.StageId)
            {
                j = item.StageId;
                i++;
            }

            <tr class="@item.StageId @(i % 2 == 0 ? "rankingKlasa1" : "rankingKlasa2")">
                <td style="text-align: center;">
                    @item.Stage.DataFrom.ToString("MM/dd") <br /> @item.Stage.DataTo.ToString("MM/dd")
                </td>
                <td style="text-align: center;">
                    @item.UserStageUser.Name @item.UserStageUser.Surname
                </td>
                <td style="text-align: center;">
                    @{
                        float suma = item.Route1Points.GetValueOrDefault()
                        + item.Route2Points.GetValueOrDefault()
                        + item.RouteLead3Points.GetValueOrDefault();
                    }
                    @suma.ToString("0.0")
                </td>
            </tr>
        }
    </tbody>
</table>