@model IEnumerable<LigaWspinaczkowa.Models.UserStage>

@{
    ViewData["Title"] = "Ranking Globalny";
}

<h1>Ranking Globalny</h1>

<p>
    <a href="RankingStages" class="btn btn-outline-primary">Przejdz do rankingu z podziałem na rozdania</a>
</p>

<table class="table" id="indexAdmin">
    <thead>
        <tr>
            <th style="text-align: left;">
                @Html.DisplayNameFor(model => model.UserStageUser)
            </th>
            <th style="text-align: left;">
                Punkty
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            List<RankingGlobal> lista = new List<RankingGlobal>();
        }
        @foreach (var item in Model)
        {            
            var czyJestWLiscie = lista.Where(l => l.email == item.UserStageUser.Email).FirstOrDefault();

            float val1 = item.IsAcceptedRoute1 ? item.Route1Points.GetValueOrDefault() : 0;
            float val2 = item.IsAcceptedRoute2 ? item.Route2Points.GetValueOrDefault() : 0;
            float val3 = item.IsAcceptedRoute3 ? item.RouteLead3Points.GetValueOrDefault() : 0;

            if (czyJestWLiscie != null) {
                
                czyJestWLiscie.punkty += val1 + val2 + val3;
            } else {
                

                lista.Add(new RankingGlobal
                    {
                        email = item.UserStageUser.Email, 
                        name= item.UserStageUser.Name + " " + item.UserStageUser.Surname,
                        punkty = val1 + val2 + val3
            });
            }
            @* <tr class="@item.StageId">
                <td>
                    @Html.DisplayFor(modelItem => item.UserStageUser.Email)
                </td>
                <td>
                    @{
                        float suma = item.Route1Points.GetValueOrDefault()
                        + item.Route2Points.GetValueOrDefault()
                        + item.RouteLead3Points.GetValueOrDefault();
                    }
                    @suma
                </td>
            </tr> *@
        }
        @foreach (var item in lista.OrderByDescending(l => l.punkty))
        {
            @* @item.email @item.punkty *@

            <tr>
                <td>@item.name</td>
                <td>@item.punkty</td>
            </tr>
        }
    </tbody>
</table>